@font-face {
	font-family: 'Telstra Gravur';
	src: url('/fonts/TelstraGravur-Regular.eot');
	src: url('/fonts/TelstraGravur-Regular.eot?#iefix') format('embedded-opentype'),
		url('/fonts/TelstraGravur-Regular.woff') format('woff'),
		url('/fonts/TelstraGravur-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Telstra Akkurat';
	src: url('/fonts/TelstraAkkurat-Light.eot');
	src: url('/fonts/TelstraAkkurat-Light.eot?#iefix') format('embedded-opentype'),
		url('/fonts/TelstraAkkurat-Light.woff') format('woff'),
		url('/fonts/TelstraAkkurat-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Telstra Akkurat';
	src: url('/fonts/TelstraAkkurat-Bold.eot');
	src: url('/fonts/TelstraAkkurat-Bold.eot?#iefix') format('embedded-opentype'),
		url('/fonts/TelstraAkkurat-Bold.woff') format('woff'),
		url('/fonts/TelstraAkkurat-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Telstra Akkurat';
	src: url('/fonts/TelstraAkkurat-Regular.eot');
	src: url('/fonts/TelstraAkkurat-Regular.eot?#iefix') format('embedded-opentype'),
		url('/fonts/TelstraAkkurat-Regular.woff') format('woff'),
		url('/fonts/TelstraAkkurat-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Telstra Gravur';
	src: url('/fonts/TelstraGravur-Bold.eot');
	src: url('/fonts/TelstraGravur-Bold.eot?#iefix') format('embedded-opentype'),
		url('/fonts/TelstraGravur-Bold.woff') format('woff'),
		url('/fonts/TelstraGravur-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
